<div class="container p-t-7">
  <div class="row">

    <div class="col-xs-4">
      <div ng-show="manageOrganizersVm.registerForm.successMessage" class="alert alert-success">
        <strong>Success!</strong>
        <p>{{manageOrganizersVm.registerForm.successMessage}}</p>
      </div>
      <div ng-show="manageOrganizersVm.registerForm.failMessage" class="alert alert-warning">
        <strong>Whoops!</strong>
        <p>{{manageOrganizersVm.registerForm.failMessage}}</p>
      </div>

      <form name="form" ng-submit="manageOrganizersVm.createAccount()" novalidate>

        <div class="form-group">
          <label for="registerFirstName">First Name</label>
          <input ng-model="manageOrganizersVm.registerForm.firstName"
            type="text"
            class="form-control"
            id="registerFirstName"
            placeholder="John"
            required>
        </div>

        <div class="form-group">
          <label for="registerLastName">Last Name</label>
          <input ng-model="manageOrganizersVm.registerForm.lastName"
            type="text"
            class="form-control"
            id="registerLastName"
            placeholder="Doe"
            required>
        </div>

        <div class="form-group">
          <label for="registerTitle">Officer Title</label>
          <input ng-model="manageOrganizersVm.registerForm.title"
            type="text"
            class="form-control"
            id="registerTitle"
            placeholder="Officer position title"
            required>
        </div>

        <div class="form-group">
          <label for="registerEmail">Email</label>
          <input ng-model="manageOrganizersVm.registerForm.email"
            type="email"
            class="form-control"
            id="registerEmail"
            placeholder="yourname@arinet.com"
            required>
        </div>

        <div class="form-group" collapse="!manageOrganizersVm.registerForm.email">
          <label for="registerEmailConfirm">Confirm Email</label>
          <input ng-model="manageOrganizersVm.registerForm.emailConfirm"
            type="email"
            class="form-control"
            id="registerEmailConfirm"
            placeholder="validate email"
            required>
        </div>

        <div class="form-group">
          <label for="registerPassword">Password</label>
          <input ng-model="manageOrganizersVm.registerForm.pword"
            type="password"
            class="form-control"
            id="registerPassword"
            placeholder="password"
            required>
        </div>

        <div class="form-group" collapse="!manageOrganizersVm.registerForm.pword">
          <label for="registerPasswordConfirm">Confirm Password</label>
          <input ng-model="manageOrganizersVm.registerForm.pwordConfirm"
            type="password"
            class="form-control"
            id="registerPasswordConfirm"
            placeholder="confirm password"
            required>
        </div>
        <button type="submit" class="btn btn-success pull-right" ng-disabled="form.$invalid">Add</button>
      </form>
    </div>

    <div class="col-xs-8">
      <h2>Group Organizers</h2>
       <div class="table-responsive">
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th>
                First
              </th>
              <th>
                Last
              </th>
               <th>
                Title
              </th>
               <th>
                Email
              </th>
               <th>
                Delete
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in manageOrganizersVm.users">
              <th>
                {{user.firstName}}
              </th>
              <th>
                {{user.lastName}}
              </th>
               <th>
                {{user.title}}
              </th>
               <th>
                {{user.email}}
              </th>
               <th>
                <button class="btn btn-xs btn-danger text-center" ng-click="manageOrganizersVm.deleteUser(user)">x</button>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
