
<div class="container">
   <div ng-if="manageEventsVm.isUsingMeetup" class="row">
    <h1> This site is conifgured to use <a href="{{manageEventsVm.meetupUrl}}">meetup.com</a> to manage your meetings.</h1>
    
   </div>
  <div ng-if="!manageEventsVm.isUsingMeetup" class="row">
    <div class="col-md-4">
        <div ng-if="manageEventsVm.userAuth">
             <div class="form">
              <form name="eventForm" ng-submit="manageEventsVm.add()">
                  
                  <div class="form-group">
                    <strong for="event-title">Title</strong>
                    <input type="text" placeholder="January Usergroup Meeting" ng-model="manageEventsVm.event.title" class="form-control" id="event-title" ></input>
                  </div>
                  
                  <div class="form-group">
                    <strong for="event-date">Date/Time</strong>
                    <input type="datetime-local" ng-model="manageEventsVm.event.dateTime" class="form-control" id="event-date" ></input>
                  </div>
                              
                  <div class="form-group">
                    <strong for="event-location">Location</strong>
                    <input type="text" placeholder="ARI" ng-model="manageEventsVm.event.location" class="form-control" id="event-location" ></input>
                  </div>
                  
                  <div class="form-group">
                    <strong for="free-form-story-title">Info</strong>
                    <textarea ng-model="manageEventsVm.event.info" class="form-control" id="event-info" rows="3" required></textarea>
                    <p class="help-block">Event information</p>
                  </div>               
                
                  <button type="submit" class="btn btn-success pull-right" ng-disabled="eventForm.$invalid">Add Event</button>
                </form>
          </div>
        </div>
      </div> 
      <div class="col-md-8">  
        <h2>Events</h2>
        <div class="table-responsive"> 
          <table class="table table-bordered table-condensed">
            <thead>
              <tr>
                <th>
                  Title
                </th>
                <th>
                  Location
                </th>
                 <th>
                  Date/Time
                </th>
                 <th>
                  Summary
                </th>
                 <th>
                  Delete
                </th>
              </tr>
            </thead>
            <tbody>
            <tr ng-repeat="event in manageEventsVm.events">
              <th>
                {{event.title}}
              </th>
              <th>
                {{event.location}} - <a ng-href="{{homeVm.event.locationMapUrl}}" target="_blank"> Map </a> 
              </th>
               <th>
                {{event.dateTime | date : 'MM/dd/yyyy @ h:mm a'}}
              </th>
               <th>
                {{event.info}}
              </th>
               <th>
                <button class="btn btn-xs btn-danger text-center" ng-click="manageEventsVm.delete(event)">x</button>
              </th>
            </tr>
           </tbody>
        </table>
        </div>
      </div>
  </div>
</div>